.manager-container {
    background-color: #f8f8ff;
    min-height: 100vh;
    overflow: hidden;
}

/* 顶部背景色 */
.manager-header {
    display: flex;
    /*background-color: #3178ff;*/
    background: linear-gradient(90deg, rgba(53, 139, 255, 1) 0%, rgba(77, 179, 254, 1) 100%);
}

/* 左侧顶部样式 */
.manager-header-left {
    width: 200px;
    height: 60px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

/* 左侧顶部系统图标样式 */
.manager-header-left img {
    width: 35px;
    height: 35px;
}

/* 左侧顶部系统名称样式 */
.manager-header-left .title {
    flex: 1;
    margin-left: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #eee
}

/* 顶部样式 */
.manager-header-center {
    flex: 1;
    width: 0;
    display: flex;
    align-items: center
}

/* 顶部右侧用户名样式 */
.manager-header-right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* 顶部右侧用户头像样式 */
.manager-header-right .avatar {
    display: flex;
    align-items: center;
    padding-right: 10px;
    color: #eee;
    cursor: default
}

/* 顶部右侧用户头像样式 */
.manager-header-right .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px
}

/* 后台系统表格设置 */
.manager-main {
    display: flex;
}

/* 左侧菜单高度设置 */
.manager-main-left {
    width: 200px;
    min-height: calc(100vh - 60px);
    box-shadow: 0 0 6px rgba(0, 21, 41, .35);
}

/* 表格主体跟左侧、顶部边距设置 */
.manager-main-right {
    flex: 1;
    width: 0;
    padding: 10px;
}

.manager-main-right .search {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.manager-main-right .operation {
    margin-top: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
}

.manager-main-right .table {
    margin-top: 5px;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1)
}

.manager-main-right .table .pagination {
    margin-top: 10px;
}

/* ElementUI */
/* 左侧菜单背景色 */
.el-menu {
    width: 200px;
    height: 100%;
    /*background-color: #00162a;*/
}

/* 左侧菜单一级标题背景色及字体颜色 */
.el-submenu__title {
    /*color: #ddd;*/
    /*background-color: #011223 !important;*/
    height: 50px;
    line-height: 50px;
}

/* 左侧菜单背景色及字体颜色 */
.el-menu-item {
    /*color: #000000;*/
    height: 50px;
    line-height: 50px;
    /*background-color: #000b17 !important; !* 必须加上这个背景色，否则鼠标离开会出现白色 *!*/
}

.el-menu-item i {
    color: #fff !important;
}

/* 左侧菜单一级标题图标颜色 */
.el-submenu__title i{
    color: #222222 !important;
}

/* 左侧菜单图标颜色 */
.el-menu-item i {
    color: #222222 !important;
}

/* 左侧菜单鼠标点击背景色及字体颜色 */
.el-menu-item.is-active {
    background-color: #ecf5ff !important;
    /*color: #addfff;*/
    color: #409eff;
}

.el-menu-item.is-active i  {
    color: #409eff !important;
}

/* 左侧菜单二级菜单边距 */
.el-menu--inline .el-menu-item {
    padding-left: 50px !important;
}

/* 鼠标浮上去字体颜色 */
.el-menu .is-active {
    color: #409eff !important;
}

/* 左侧菜单一级菜单鼠标悬浮背景色 */
.el-submenu__title:hover {
    /*background-color: orange !important;*/
}

/* 左侧菜单鼠标悬浮背景色及字体颜色 */
.el-menu-item:not(.is-active):hover {
    background-color: #ecf5ff !important;
    color: #409eff;
}

/* 左侧菜单鼠标悬浮背景色及字体颜色 */
.el-menu-item:hover {
    color: #409eff !important;
    background-color: #ecf5ff !important;
}

.el-menu-item:hover i{
    color: #409eff !important;
}

.el-submenu__icon-arrow {
    color: #ddd !important;
    margin-top: -5px;
}

/* 顶部面包屑字体颜色 */
.el-breadcrumb__inner {
    color: #eee !important;
}

.el-dropdown-menu {
    margin-top: 20px !important;
}

/* 顶部面包屑左边距 */
.el-breadcrumb {
    margin-left: 10px;
}

/* 表格背景色及字体颜色 */
th.el-table__cell {
    /*background-color: #f8f8f8 !important;*/
    color: #666;
}

/* 右侧抽屉内容 */
.drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px;
    border-bottom: 1px solid #eee;
}

.drawer-title {
    font-size: 18px;
    font-weight: bold;
}

.drawer-actions {
    display: flex;
    gap: 5px;
}

.drawer-content {
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.image-container {
    margin: 20px 0;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.drawer-footer {
    padding: 20px;
    border-top: 1px solid #eee;
    text-align: right;
}

/* 全屏模式样式 */
.drawer-content:-webkit-full-screen {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.drawer-content:-moz-full-screen {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.drawer-content:-ms-fullscreen {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.drawer-content:fullscreen {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
